{% extends "main_page.html" %}

{% block content2 %}
<h1 style="text-allign: center">Works log</h1>
{% for item in jobs %}
<h3>Action # {{item.id}}</h3>
<p>
<table>
    <tr>
        <th>Title of activity</th>
        <th>Team leader</th>
        <th>Duration</th>
        <th>List of collaborators</th>
        <th>Hazard category</th>
        <th>Is finished</th>
    </tr>
    <tr>
        <td>{{item.title}}</td>
        <td>{{item.leader}}</td>
        <td>{{item.duration}}</td>
        <td>{{item.collabs}}</td>
        <td>{{item.categories}}</td>
        <td>{{item.finish}}</td>
  </tr>
</table>
{% if current_user.is_authenticated and (current_user.id == item.author or current_user.id == 1 or item.team_leader == current_user.id) %}
<a class="btn btn-warning " href="/change_job/{{item.id}}">Изменить</a>
<a class="btn btn-danger " href="/delete_job/{{item.id}}">Удалить</a>
{% endif %}
</p>
{% endfor %}
{% endblock %}