{% extends "base.html" %}

{% block content %}
<h1 style="text-allign: center">Works log</h1>
{% for item in jobs %}
<h3>Action # {{item.id}}</h3>
<p>
<table>
    <tr>
        <th>Title of activity</th>
        <th>Team leader</th>
        <th>Duration</th>
        <th>List of collaborators</th>
        <th>Is finished</th>
    </tr>
    <tr>
        <td>{{item.title}}</td>
        <td>{{item.leader}}</td>
        <td>{{item.duration}}</td>
        <td>{{item.collabs}}</td>
        <td>{{item.finish}}</td>
  </tr>
</table>
</p>
{% endfor %}
{% endblock %}