{% extends "base.html" %}

{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>
<h1>Оформление каюты</h1>
 <table>
  <tr>
    <th>Цвет стен</th>
    <th>Эмблема</th>
  </tr>
  <tr>
    <td style="background-color: {{color}}"></td>
    <td><img src={{pic_url}}
           alt="здесь должна была быть картинка, но не нашлась"></td>
  </tr>
</table>
{% endblock %}